###################################################### 
#  Project:  http://code.google.com/p/51-android/    #
#  File:     /etc/udev/rules.d/51-android.rules      #
#  Author:   snowdream <yanghui1986527@gmail.com>    #
#  Date:     2010.06.07                              #
######################################################

#Acer
SUBSYSTEM=="usb", ATTRS{idVendor}=="0502", MODE="0660", OWNER="snowdream"


#ASUS	
SUBSYSTEM=="usb", ATTRS{idVendor}=="0b05", MODE="0660", OWNER="snowdream"


#Dell
SUBSYSTEM=="usb", ATTRS{idVendor}=="413c", MODE="0660", OWNER="snowdream"


#Foxconn
SUBSYSTEM=="usb", ATTRS{idVendor}=="0489", MODE="0660", OWNER="snowdream"


#Fujitsu/Fujitsu Toshiba
SUBSYSTEM=="usb", ATTRS{idVendor}=="04c5", MODE="0660", OWNER="snowdream"


#Garmin-Asus
SUBSYSTEM=="usb", ATTRS{idVendor}=="091e", MODE="0660", OWNER="snowdream"
	
	
#Google
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", MODE="0660", OWNER="snowdream"


#Hisense
SUBSYSTEM=="usb", ATTRS{idVendor}=="109b", MODE="0660", OWNER="snowdream"

#HTC	
SUBSYSTEM=="usb", ATTRS{idVendor}=="0bb4", MODE="0660", OWNER="snowdream"

#Huawei	
SUBSYSTEM=="usb", ATTRS{idVendor}=="12d1", MODE="0660", OWNER="snowdream"


#K-Touch
SUBSYSTEM=="usb", ATTRS{idVendor}=="24e3", MODE="0660", OWNER="snowdream"


#KT Tech	
SUBSYSTEM=="usb", ATTRS{idVendor}=="2116", MODE="0660", OWNER="snowdream"


#Kyocera
SUBSYSTEM=="usb", ATTRS{idVendor}=="0482", MODE="0660", OWNER="snowdream"


#Lenovo
SUBSYSTEM=="usb", ATTRS{idVendor}=="2006", MODE="0660", OWNER="snowdream"


#LG
SUBSYSTEM=="usb", ATTRS{idVendor}=="1004", MODE="0660", OWNER="snowdream"


#Motorola
SUBSYSTEM=="usb", ATTRS{idVendor}=="22b8", MODE="0660", OWNER="snowdream"


#NEC	
SUBSYSTEM=="usb", ATTRS{idVendor}=="0409", MODE="0660", OWNER="snowdream"


#Nook
SUBSYSTEM=="usb", ATTRS{idVendor}=="2080", MODE="0660", OWNER="snowdream"


#Nvidia
SUBSYSTEM=="usb", ATTRS{idVendor}=="0955", MODE="0660", OWNER="snowdream"


#OTGV
SUBSYSTEM=="usb", ATTRS{idVendor}=="2257", MODE="0660", OWNER="snowdream"


#Pantech
SUBSYSTEM=="usb", ATTRS{idVendor}=="10a9", MODE="0660", OWNER="snowdream"


#Pegatron
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d4d", MODE="0660", OWNER="snowdream"


#Philips
SUBSYSTEM=="usb", ATTRS{idVendor}=="0471", MODE="0660", OWNER="snowdream"


#PMC-Sierra	
SUBSYSTEM=="usb", ATTRS{idVendor}=="04da", MODE="0660", OWNER="snowdream"


#Qualcomm	
SUBSYSTEM=="usb", ATTRS{idVendor}=="05c6", MODE="0660", OWNER="snowdream"


#SK Telesys	
SUBSYSTEM=="usb", ATTRS{idVendor}=="1f53", MODE="0660", OWNER="snowdream"


#Samsung	
SUBSYSTEM=="usb", ATTRS{idVendor}=="04e8", MODE="0660", OWNER="snowdream"


#Sharp	
SUBSYSTEM=="usb", ATTRS{idVendor}=="04dd", MODE="0660", OWNER="snowdream"


#Sony	
SUBSYSTEM=="usb", ATTRS{idVendor}=="054c", MODE="0660", OWNER="snowdream"


#Sony Ericsson
SUBSYSTEM=="usb", ATTRS{idVendor}=="0fce", MODE="0660", OWNER="snowdream"


#Teleepoch
SUBSYSTEM=="usb", ATTRS{idVendor}=="2340", MODE="0660", OWNER="snowdream"


#Toshiba
SUBSYSTEM=="usb", ATTRS{idVendor}=="0930", MODE="0660", OWNER="snowdream"


#ZTE
SUBSYSTEM=="usb", ATTRS{idVendor}=="19d2", MODE="0660", OWNER="snowdream"
